<!doctype html>
<br lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Heath App</title>
  </head>
<head>
    <title>Health Tips</title>
  </head>
  <style>
  .container {
    align-items: center;
    justify-content: center;
  }

  img {
    max-width: 25%;
    max-height:15%;
    float: right;
  }

  .text {
    font-size: 20px;
    padding-left: 20px;
    padding-top: 20%;
    float: left;
  }
  </style>

  </style>
  </body>
    <br class="container">
      <div class="image">
        <img src="../static/img_2.png" width="300" height="200">
          <div style="">
          <img src="../static/img_3.png" width="480" height="200" >
      </div>
      </div>
       <div class="container my-3">
        <h1>Tips for healthy Lifestyle</h1>
        <mark>These 8 practical tips cover the basics of healthy eating and can help you make healthier choices.</mark><br><br>Good nutrition, daily exercise and adequate sleep are the foundations of healthy living. A healthy lifestyle keeps you fit, energetic and at reduced risk for disease. According to WHO, Healthy living is a way of living that helps you enjoy more aspects of your life. It is a way of living that lowers the risk of being seriously ill or dying early. Health is not just about avoiding a disease or illness. It is about physical, mental and social well-being too.<br>

      <br>When you adopt a healthy lifestyle, you provide a more positive role model for other people in your family, particularly children. You will also create a better environment for them to grow up in. By helping them to follow a healthier lifestyle, you will be contributing to their wellbeing and enjoyment of life now and in the future<br>

<br>Managing stress in positive ways, instead of through smoking or drinking alcohol, reduces wear and tear on your body at the molecular level. For a longer and more comfortable life, you should adopt a healthy life style.<br>

           <br><h5>Exercising:</h5>

Calories accompany the nutrition in food and if you don’t exercise, you’ll gain weight. Carrying extra weight increases your risk for heart disease, type 2 diabetes mellitus and cancer. Your lifestyle should support a constant healthy weight for normal daily activity. You should always do muscle strengthening exercises, such as weight lifting, along with aerobic exercises, such as walking or running. You should also include exercise, such as yoga to improve body flexibility.</br>

           <br><h5>Sleeping:</h5>
           Daily metabolism perpetuates the decline and rejuvenation of cellular tissue and the body’s self-repair takes place when you are asleep. Memory consolidation and appetite regulation also occur during this time of reduced physical activity. Seven to nine hours of night sleep daily is considered an optimum for most individuals for a healthy lifestyle.</br>
        <br><h5>Reducing Stress:</h5>
        Your body responds to everyday stress with a release of hormones that prepares you to react.Although some stress is inevitable and necessary, excess can lead to various health problems.If you don’t relieve this excessively stressful state through relaxation, the effects build and can create muscular pain, headaches, sleep disturbances and other symptoms. A lifestyle that includes regular stress management, breaks this cycle before it can progress to unhealthy levels. You can achieve physical relaxation through stretching, body massage, yoga or enjoyable exercise. Connect with friends and family to relieve mental pressures and take time out to read, pursue a hobby or experience another activity that makes you feel good.</br>

           <br><h5>Why Should People Choose a Healthy Lifestyle?
            <br>
           <br>Important and big questions raised here are:-</h5>

           <br><mark>Why should you choose healthy lifestyle?</mark></br>
<br>A healthy lifestyle gives you longer and happier life. With increasing prevalence of life-style diseases in India, one out of four Indians is at risk of dying from non-communicable diseases such as diabetes, cardio-vascular ailments or cancer before the age of seventy. Adopting bad habits, such as poor diet, lack of exercise, irregular sleep pattern and resorting to excessive smoking or alcohol use might put you in with   38 million people, who are limited due to one or more chronic health conditions.</br>

<mark><br>How we control our bad habit and live healthier?</mark></br>
<br>Bad habits restrict us to stay healthy. Tobacco, alcohol, lack of physical activity and junk foods are very harmful for health. Will power plays an important role to be away from bad habits. Take a pledge to follow healthy lifestyle, for   longer and healthier life.</br>

<br>To Know More About Healthy Living <a href="http://www.kznhealth.gov.za/healthyliving.pdf">click here</a></br>

       </br>

    </div>